---
title: BREAKING： pupy sais： "wruf!"
slug: puppy-says-wruf
createdAt: 1720059609
summary: little doggie barks! so cute!
author: Pivvy1s5
---

# BREAKING: pupy sais: "wruf!"

*shes a good girl!*
__yeah! yea she is!__
## why did she wruf
**HOW DARE YOU QUESTION HER**